@import url(choices.css);

.choices__inner {
  width: 96% !important;
  min-height: 15px !important;
  font-size: 10px !important;
}

.choices__input {
  font-size: 10px !important;
}

.choices {
  margin-bottom: 10px !important;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 10px !important;
}

.choices__list--multiple .choices__item {
  background-color: #00897b !important;
  border: 1px solid rgba(0, 0, 0, .13) !important;
}

.m-geobusquedas {
  width: 25vw;
  font-family: Muli, sans-serif !important;
  font-size: 13px;
  color: #6c6c6c;
  background-color: #fff;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-font-smoothing: antialiased;
}

.m-areas>div.m-area>div.m-panel.geobusquedas-panel.collapsed {
  background-color: #00796b !important;
  width: 40px;
  height: 40px;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas>div.m-area>div.m-panel.geobusquedas-panel.opened {
  visibility: visible;
  background-color: transparent !important;
  box-shadow: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 1000;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas>div.m-area>div.m-panel.geobusquedas-panel.opened>button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas>div.m-area>div.m-panel.geobusquedas-panel.collapsed>button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas>div.m-area>div.m-panel.geobusquedas-panel.opened>div.m-panel-controls {
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
  transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
}

.m-areas>div.m-area>div.m-panel.geobsquedas-panel.opened>div.m-panel-controls>div.m-geobusquedas {
  width: 33vw !important;
  height: 100vh !important;
  background-color: #fff !important;
}

div.m-geobusquedas-title {
  line-height: 40px;
  text-align: center;
  height: 39px;
  width: 100%;
  padding: 5 5 5 0;
  border-bottom: 2px solid #ff9800;
  font-size: 15px;
  background-color: #00796b !important;
  color: #fff;
}

/* Estilo labels tab */
label.m-geobusquedas-tab {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label.m-geobusquedas-tab:hover {
  cursor: pointer;
}

label.actived {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #ff9800;
  border-bottom: 1px solid #fff;
}

/* Estilo contendores-tab*/
#content-tab1 {
  display: block;
}

#content-tab2 {
  display: none;
}


input#textArea {
  width: 23vw;
  height: 50px
}

.m-geobusquedas-container>div.body {
  background-color: #fff;
  width: 25vh !important;
  height: 100vh !important;
}

#m-geobusquedas-content {
  height: calc(100vh - 90px);
  background-color: #fff;
  overflow-y: auto;
}

div.opciones-busqueda {
  margin-left: 5px;
  margin-right: 5px;
}

.label-opciones-busqueda {
  margin: 0px 0px 0px 0px;
  font-size: 11px;
}

.info-opciones {
  font-size: 0.8em;
  display: block;
}

.label-filters {
  background-color: #eaeaea;
  line-height: 20px;
  font-size: 11px;
  display: block;
}

#filter-container {
  display: none;
  height: auto;
  background-color: transparent;
  border: 1px solid #eaeaea;
  padding-bottom: 10px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
}


label {
  display: block;
  margin: 0 0 -1px;
  padding: 5px;
  font-weight: 600;
  background-color: #fff;
}

.select {
  display: block;
}

.button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffb74d;
}

div#m-geobusquedas-buttons>button {
  width: 39%;
  margin: 10px 5%;
  padding: 5px;
  background-color: #fff;
  font-family: Muli, "sans-serif" !important;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 15px;
  line-height: 20px;
  opacity: 0.75;
  -webkit-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
  color: #404040 !important;
}

div#m-geobusquedas-buttons {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffb74d;
}

div#m-geobusquedas-buttons>button:disabled {
  cursor: not-allowed;
}

#editorCodeMirror {
  background-color: #f9f9f9;
  border-radius: 2.5px;
  border: 1px solid #ddd;
  position: absolute;
  width: 90%;
  min-height: 250px;
  max-height: 400px;
  margin-left: 2px;
  margin-right: 2px;
}

.cm-editor {
  min-height: 250px;
  max-height: 400px;
}

.cm-scroller {
  overflow: auto
}

input[type=number].inputFilters {
  width: 75% !important;
}

input[type=number].inputFilters:hover,
input[type=number].inputFilters:active,
input[type=number].inputFilters:focus {
  border: 1px solid #6c6c6c !important;
}

input[type=text].inputFilters {
  width: 96% !important;
}

input.inputFilters {
  font-size: 10px;
  color: #6c6c6c;
  display: inline-block;
  height: 20px;
  vertical-align: top !important;
  background-color: #f9f9f9 !important;
  padding: 7.5px 7.5px 3.75px !important;
  border: 1px solid #ddd !important;
  border-radius: 2.5px !important;
}

select.comparacionNumeros {
  font-size: 10px;
  color: #6c6c6c;
  display: inline-block;
  height: 33px;
  vertical-align: top !important;
  width: 20% !important;
  margin-right: 5px;
  background-color: #f9f9f9 !important;
  padding: 7.5px 7.5px 3.75px !important;
  border: 1px solid #ddd !important;
  border-radius: 2.5px !important;
}

/* Spin Buttons modified */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  color: #000;
  -webkit-appearance: none;
  background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=) no-repeat center center;
  width: 1em;
  border-left: 1px solid #BBB;
  /* opacity: .5; shows Spin Buttons per default (Chrome >= 39) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

input[type="number"]::-webkit-inner-spin-button:hover,
input[type="number"]::-webkit-inner-spin-button:active {
  /* box-shadow: 0 0 2px #0CF; */
  color: #6c6c6c;
  opacity: .8;
}

/* Override browser form filling */
input:-webkit-autofill {
  background: black;
  color: red;
}

label.label_rango_valor {
  font-size: 10px;
  color: #6c6c6c;
  font-weight: normal;
}