@import url(choices.css);

.choices__inner {
  width: 96% !important;
  min-height: 24px !important;
  font-size: 12px !important;
}

.choices__input {
  font-size: 13px !important;
}

.choices {
  margin-bottom: 10px !important;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: 12px !important;
}

.choices__list--multiple .choices__item {
  background-color: #00897b !important;
  border: 1px solid rgba(0, 0, 0, .13) !important;
}

.m-geobusquedas {
  width: 25vw;
  font-family: Muli,sans-serif!important;
  font-size: 13px;
  color: #6c6c6c;
  background-color: #fff;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  -webkit-font-smoothing: antialiased;
}

.m-areas > div.m-area > div.m-panel.geobusquedas-panel.collapsed {
  background-color: #00796b !important;
  width: 40px;
  height: 40px;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas > div.m-area > div.m-panel.geobusquedas-panel.opened {
  visibility: visible;
  background-color: transparent !important;
  box-shadow: none;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 1000;
  order: -100 !important;
  -webkit-order: -100 !important;
}

.m-areas > div.m-area > div.m-panel.geobusquedas-panel.opened > button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas
  > div.m-area
  > div.m-panel.geobusquedas-panel.collapsed
  > button.m-panel-btn {
  background-color: #00796b !important;
  color: #fff !important;
}

.m-areas > div.m-area > div.m-panel.geobusquedas-panel.opened > div.m-panel-controls {
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
  transition: max-width 1s ease 0s, opacity 0.75s ease 0.1s;
}

.m-areas
  > div.m-area
  > div.m-panel.geobsquedas-panel.opened
  > div.m-panel-controls
  > div.m-geobusquedas {
  width: 33vw !important;
  height: 100vh !important;
  background-color: #fff !important;
}

div.m-geobusquedas-title {
  line-height: 40px;
  text-align: center;
  height: 39px;
  width: 100%;
  padding: 5 5 5 0;
  border-bottom: 2px solid #ff9800;
  font-size: 15px;
  background-color: #00796b !important;
  color: #fff;
}

.m-geobusquedas-container > div.body {
  background-color: #fff;
  width: 25vh !important;
  height: 100vh !important;
}

#m-geobusquedas-content {
  height: calc(100vh - 90px);
  background-color: #fff;
  overflow-y: auto;
}
#m-geobusquedas-buttons {
  height: 90px;
  background-color: #fff;
  overflow-y: auto;
}

div.opciones-busqueda {
  margin: 10px;
}

.label-opciones-busqueda {
  margin: 0px 0px 0px 0px;
}

.info-opciones {
  font-size: 0.8em;
  display: block;
}

label {
  display: block;
  margin: 0 0 -1px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  background-color: #fff;
}

.select{
  display: block;
}

.button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffb74d;
}

div.button>button {
  width: 39%;
  margin: 10px 5%;
  padding: 5px;
  background-color: #fff;
  font-family: Muli, "sans-serif" !important;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 15px;
  line-height: 25px;
  opacity: 0.75;
  -webkit-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
  color: #404040 !important;
}

div.button>button:disabled {
  cursor: not-allowed;
}


