<div id="div-contenedor" class="m-control m-container m-geobusquedas">
  <div class="m-geobusquedas">
    <!-- TITLE -->
    <div class="m-geobusquedas-title">{{title}}</div>
    <!-- BODY-->
    <div class="m-geobusquedas-body">
      <div id="m-geobusquedas-content">
        <div id="m-geobusquedas-tab">
          <label id="tab1" class="m-geobusquedas-tab actived"
            title="Muestra / Oculta panel básico de búsquedas">Básico</label>
          <label id="tab2" class="m-geobusquedas-tab"
            title="Muestra / Oculta panel avanzado de búsquedas">Avanzado</label>
        </div>
        <div id="content-tab1">
          <div id="indexs" class="opciones-busqueda" title="Selector de Índices">
            <label class="label-opciones-busqueda" for="selectIndexTab1">Índices</label>
            <select id="selectIndexTab1" name="selectIndexTab1" default-label="Indices">
            </select>
          </div>
          <div id="fields" class="opciones-busqueda" title="Selector de Campos">
            <label class="label-opciones-busqueda" for="selectFields">Campos</label>
            <select id="selectFields" name="selectFields" default-label="Campos" multiple>
            </select>
          </div>
          <div id="filters" class="opciones-busqueda">
            <label id="label-filters" class="label-filters" title="Mostrar / Ocultar Filtro Temático"><i
                class="g-cartografia-mas2" id="tematic-filter" name="tematic-filter"></i>&#32;&#32;Filtro
              Temático</label>
            <div id="tematic-filter-container" title="Filtro Temático">
              <label class="label-opciones-busqueda" for="selectFieldsFilters">Campos</label>
              <select id="selectFieldsFilters" name="selectFieldsFilters" default-label="Campos" multiple>
              </select>
              <form id="filters-options">
              </form>
            </div>
          </div>
          <div id="spatial" name="spatial" class="opciones-busqueda">
            <label id="label-filter-geom" class="label-filters" title="Mostrar / Ocultar Filtro Espacial"><i
                class="g-cartografia-mas2" id="spatial-filter" name="spatial-filter"></i>&#32;&#32;Filtro
              Espacial</label>
            <div id="spatial-filter-container" title="Filtro Espacial">
              <label class="label-opciones-busqueda" for="selectSpatialFilters">Tipo de Filtro</label>
              <select id="selectSpatialFilters" name="selectSpatialFilters" default-label="tipo de filtro" simple>
                <option value="" selected disabled>Seleccione un filtro espacial</option>
                <option value="distance">distancia</option>
                <option value="boundingBox">Extensión</option>
              </select>
              <div id="distance" class="display-none">
                <label class="label-opciones-busqueda" for="filtro_geom" id="label_filtro_geom">Activar / Desactivar
                  Captura de Coordenadas</label>
                <label class="switcherActiveGeomFilter"
                  title="Al activar el filtro se podrán capturar las coordenadas x,y del centro">
                  <input id="checkboxGeomFilter" type="checkbox" disabled>
                  <span class="slider round disabled"></span>
                </label>
                <div id="distance-coordinates-container" class="coordinates-container">
                  <label for="coordenada_x" class="label-opciones-busqueda">Coordenada X:</label><input
                    id="coordenada_x" name="coordenada_x" class="inputFilterGeom" type="number"
                    title="Coordenada X (longitud)" disabled>
                  <label for="coordenada_y" class="label-opciones-busqueda">Coordenada Y:</label><input
                    id="coordenada_y" name="coordenada_y" class="inputFilterGeom" type="number"
                    title="Coordenada Y (latitud)" disabled>
                </div>
                <div id="range-container" title="Distancia en kilómetros del radio">
                  <label for="distance" class="label-opciones-busqueda">Radio (entre 1 y 50 km):</label>
                  <input type="range" id="distance" name="distance" min="1" max="50" value="25"
                    oninput="this.nextElementSibling.value = ' '+this.value+'Km'" disabled>
                  <output id="distance_value">25Km</output>
                </div>
                <span class="info-opciones">* Al activar la captura de coordenadas al hacer click en el mapa se copiaran
                  las
                  coordendas X e Y</span>
              </div>
              <div id="boundingBox" class="display-none">
                <label class="label-opciones-busqueda" id="label_filtro_geom">Coordenadas Extensión actual</label>
                <div id="bbox-coordinates-container">
                  <div id="bbox-min-coordinates-container" class="coordinates-container">
                    <label for="min_x" class="label-opciones-busqueda">X mínima:</label><input id="min_x" name="min_x"
                      class="inputFilterGeom" type="number" title="Coordenada  min X" disabled>
                    <label for="min_y" class="label-opciones-busqueda">Y mínima:</label><input id="min_y" name="min_y"
                      class="inputFilterGeom" type="number" title="Coordenada min Y" disabled>
                  </div>
                  <div id="bbox-max-coordinates-container" class="coordinates-container">
                    <label for="max_x" class="label-opciones-busqueda">X máxima :</label><input id="max_x" name="max_x"
                      class="inputFilterGeom" type="number" title="Coordenada max X" disabled>
                    <label for="max_y" class="label-opciones-busqueda">Y máxima:</label><input id="max_y" name="max_y"
                      class="inputFilterGeom" type="number" title="Coordenada max Y" disabled>
                  </div>
                </div>
                <span class="info-opciones">* Al desplazarse por el mapa o hacer zoom + o zoom - se ajustaran las
                  coordenadas automaticamente</span>
              </div>
            </div>
          </div>
          <div id="styles" class="opciones-busqueda">
            <label id="label-styles" class="label-filters" title="Mostrar / Ocultar Simbología Avanzada"><i
                class="g-cartografia-mas2" id="advanced-styles" name="advanced-styles"></i>&#32;&#32;Simbología
              Avanzada</label>
            <div id="advanced-styles-container">
              <div id="fieldSelector">
                <label class="label-opciones-busqueda" for="selectAdvancedStylesField">Campo de Representación</label>
                <select id="selectAdvancedStylesField" name="selectAdvancedStylesField" default-label="Campos">
                  <option>Selecciona un campo</option>
                </select>
              </div>
              <div class="colorSelector" title="Selecionar Color Incial">
                <label for="firstColor" class="label-opciones-busqueda">Color inicial</label>
                <input id="firstColor" type="color" value="#ffffb2" disabled>
              </div>
              <div class="colorSelector" title="Selecionar Color Final">
                <label for="lastColor" class="label-opciones-busqueda">Color final</label>
                <input id="lastColor" type="color" value="#b10026" disabled>
              </div>
              <div class="classification-method" title="Método de Clasificación">
                <label class="label-opciones-busqueda">Método de clasificación</label>
                <input type="radio" id="JENKS" name="quantification" value="JENKS" checked=true> JENKS
                <input type="radio" id="QUANTILE" name="quantification" value="QUANTILE"> QUANTILE
              </div>
              <div class="classification-ranges" title="Número de Intervalos">
                <label class="label-opciones-busqueda">Número de Intervalos</label>
                <input id="breaks" type="number" value=5 min=1 max=7 disabled />
              </div>
            </div>
          </div>
        </div>
        <div id="content-tab2">
          <div id="indexs" class="opciones-busqueda" title="Selector de Índices">
            <label class="label-opciones-busqueda" for="selectIndexTab2">Indices</label>
            <select id="selectIndexTab2" name="selectIndexTab2" default-label="Indices">
            </select>
          </div>
          <div id="editor" class="opciones-busqueda" title="Editor avanzado de búsquedas">
            <label class="label-opciones-busqueda" for="editorCodeMirror">Editor JSON</label>
            <div id="editorCodeMirror"></div>
          </div>
        </div>
      </div>
      <div id="m-geobusquedas-buttons">
        <button id="loadButton" class="load" disabled="disabled" title="Ejecutar">
          <i class="g-cartografia-posicion3"></i> Ejecutar</button>
        <button id="clearButton" class="clear" disabled="disabled" title="Limpiar">
          <i class="g-cartografia-check4"></i> Limpiar</button>
      </div>
    </div>
  </div>
</div>