<div id="div-contenedor" class="m-control m-container m-geobusquedas">
  <div class="m-geobusquedas">
    <!-- TITLE -->
    <div class="m-geobusquedas-title">{{title}}</div>
    <!-- BODY-->
    <div class="m-geobusquedas-body">
      <div id="m-geobusquedas-content">
        <div id="indices" class="opciones-busqueda">
          <label class="label-opciones-busqueda" for="selectorIndices">Indices</label>
          <select id="selectorIndices" name="selectorIndices" default-label="Indices">
          </select>
        </div>
        <div id="campos" class="opciones-busqueda">
          <label class="label-opciones-busqueda" for="selectorCampos">Campos</label>
          <select id="selectorCampos" name="selectorCampos" default-label="Campos" multiple>
          </select>
        </div>
        <div id="editor" class="opciones-busqueda">
          <label class="label-opciones-busqueda" for="editorCodeMirror">JSON</label>
        <div id="editorCodeMirror"></div>
      </div>
      </div>
      <div id="m-geobusquedas-result-content" class="results">
      </div>
      <div id="m-geobusquedas-result-pagination" class="page">
      </div>
      <div id="m-geobusquedas-buttons">
        <button id="loadButton" class="load" disabled="disabled" title="Ejecutar">
          <i class="g-cartografia-posicion3"></i> Ejecutar</button>
        <button id="clearButton" class="clear" disabled="disabled" title="Limpiar">
          <i class="g-cartografia-check4"></i> Limpiar</button>
      </div>
    </div>
  </div>
</div>