<div id="div-contenedor" class="m-control m-container m-geobusquedas">
  <div class="m-geobusquedas">
    <!-- TITLE -->
    <div class="m-geobusquedas-title">{{title}}</div>
    <!-- BODY-->
    <div class="m-geobusquedas-body">
      <div id="m-geobusquedas-content">
        <div id="m-geobusquedas-tab">
          <label id="tab1" class="m-geobusquedas-tab actived">Básico</label>
          <label id="tab2" class="m-geobusquedas-tab">Avanzado</label>
        </div>
        <div id="content-tab1">
          <div id="indices" class="opciones-busqueda">
            <label class="label-opciones-busqueda" for="selectorIndices-tab1">Indices</label>
            <select id="selectorIndices-tab1" name="selectorIndices-tab1" default-label="Indices">
            </select>
          </div>
          <div id="campos" class="opciones-busqueda">
            <label class="label-opciones-busqueda" for="selectorCampos">Campos</label>
            <select id="selectorCampos" name="selectorCampos" default-label="Campos" multiple>
            </select>
          </div>
          <div id="filtros" class="opciones-busqueda">
            <label id="label-filters" class="label-filters"><i class="g-cartografia-mas2"></i>&#32;&#32;Filtro
              Temático</label>
            <div id="filter-container">
              <label class="label-opciones-busqueda" for="selectorCamposFiltros">Campos</label>
              <select id="selectorCamposFiltros" name="selectorCamposFiltros" default-label="Campos" multiple>
              </select>
              <form id="filters-options">
              </form>
            </div>
          </div>
          <div id="geom" name="geom" class="opciones-busqueda">
            <label id="label-filter-geom" class="label-filters"><i class="g-cartografia-mas2"></i>&#32;&#32;Filtro
              Espacial</label>
            <div id="filter-geom-container">
              <label class="label-opciones-busqueda" for="filtro_geom" id="label_filtro_geom">Activar / Desactivar
                Filtro Espacial</label>
              <label class="switcherActiveGeomFilter"
                title="Al activar el filtro se podrán capturar las coordenadas x,y del centro">
                <input id="checkboxGeomFilter" type="checkbox">
                <span class="slider round"></span>
              </label>
              <div id="coordinates-container">
                <label for="coordenada_x" class="label-opciones-busqueda">Coordenada X:</label><input id="coordenada_x"
                  name="coordenada_x" class="inputFilterGeom" type="number" disabled>
                <label for="coordenada_y" class="label-opciones-busqueda">Coordenada Y:</label><input id="coordenada_y"
                  name="coordenada_y" class="inputFilterGeom" type="number" disabled>
              </div>
              <div id="range-container">
                <label for="distance" class="label-opciones-busqueda">Radio (entre 1 and
                  100 km):</label>
                <input type="range" id="distance" name="distance" min="1" max="100" value="50"
                  oninput="this.nextElementSibling.value = ' '+this.value+' Km'" disabled>
                <output>50 Km</output>
              </div>
              <span class="info-opciones">* Al activar el filtro espacial y hacer click en el mapa se copiaran las coordendas X e Y</span>

            </div>
          </div>
        </div>
        <div id="content-tab2">
          <div id="indices" class="opciones-busqueda">
            <label class="label-opciones-busqueda" for="selectorIndices-tab2">Indices</label>
            <select id="selectorIndices-tab2" name="selectorIndices-tab2" default-label="Indices">
            </select>
          </div>
          <div id="editor" class="opciones-busqueda">
            <label class="label-opciones-busqueda" for="editorCodeMirror">Editor JSON</label>
            <div id="editorCodeMirror"></div>
          </div>
        </div>
      </div>
      <div id="m-geobusquedas-result-content" class="results">
      </div>
      <div id="m-geobusquedas-result-pagination" class="page">
      </div>
      <div id="m-geobusquedas-buttons">
        <button id="loadButton" class="load" disabled="disabled" title="Ejecutar">
          <i class="g-cartografia-posicion3"></i> Ejecutar</button>
        <button id="clearButton" class="clear" disabled="disabled" title="Limpiar">
          <i class="g-cartografia-check4"></i> Limpiar</button>
      </div>
    </div>
  </div>
</div>